.content{
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 243, 241);
}

.logo{
height: 72px;
object-fit: cover;
}


.name_discription{
    width: 500px;
    font-size: 28px;
    margin: 0px 75px 75px 5px;
    padding-left: 5px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.holder{
    width: 398px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    border: 1px;
    box-shadow: 1px 1px 8px rgb(193, 192, 192);
    margin-top: 20px;
}

.email{
    height: 45px;
    width: 340px;
    margin: 15px 15px 15px 16px;
    font-size: 18px;
    border-width: 0.2px;
    border-radius: 6px;
    border-color: rgb(211, 208, 208);
    padding-left:20px ;
}
    
.password{
    height: 45px;
    width: 340px;
    margin: 0px 15px 15px 16px;
    font-size: 18px;
    border-width: 0.716px;
    border-radius: 6px;
    border-color: rgb(170, 169, 169);
    padding-left:20px ;
}

.login{
    height: 50px;
    width: 365px;
    font-weight: 700;
    margin: 0px 15px 15px 16px;
    font-size: 20px;
    background-color: rgb(10, 117, 216);
    border: 0px;
    border-radius: 6px;
    padding-left:20px ;
    color: white;
}

.forget_password{
    text-align: center;
}

.forget{
    color: #0866ff;
    font-size: 14px;
    font-weight: 500;
}

.line{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
    height: 0.5;
}

.new_account_center{
    text-align: center;
}
.new_account{
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(53, 172, 45);
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.create_page{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}

.create_page2{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.footer{
    margin: 20px 200px 20px 200px;
    color: gray;
    font-size: 15px;
}